@font-face {
    font-family: 'Pretendard';


    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Black.woff2') format('woff2');
    font-weight: 900;
    font-display: swap;
}


:root {
    /* color  */
    --color-black: #3D3D3D;
    --color-white: #fff;
    --color-primary: #41a7c6;
    --color-lightgray: #f5f5f5;
    --color-darkgray: #7e7e7e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

body {
    font-family: 'Pretendard', sans-serif;
    color: var(--color-darkgray);
}

body::-webkit-scrollbar {
    display: none;
    /* 스크롤바 자체를 숨김 */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

dl,
ol,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 55px 100px;
    z-index: 100;
}

.menu-list {
    display: flex;
    gap: 100px;
}

.menu a {
    color: #fff;
    font-size: 1.25rem;
}

.link-menu-list {
    display: flex;
    gap: 20px;
}

.desc {
    font-size: 16px;
}

.sec-pt {
    padding-top: 128px;
}

.sec-pd {
    padding: 128px 0;
}

.mb-10 {
    margin-bottom: 10px;
}


.btn-outline-light {
    padding: 12px 36px;
    color: var(--color-white);
    border: 1px solid var(--color-white);
    font-size: 16px;
    border-radius: 2px;
}

.btn-outline-dark {
    padding: 12px 36px;
    color: var(--color-black);
    border: 1px solid var(--color-black);
    font-size: 16px;
    border-radius: 2px;
}

.btn-sm {
    font-size: 13px;
}

.btn-black {
    background-color: var(--color-black);
    color: var(--color-white);
}

.btn-primary {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary);
}