@import url(common.css);



/* hero section  */

.hero-sec {
    height: 100dvh;
    min-height: 600px;
    position: relative;
    /* overflow: hidden; */
}

.hero-slide {
    height: 100%;
    position: relative;
}

.hero-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: start;
    color: var(--color-white);
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.hero-text p {
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 20px;
    letter-spacing: -1px;
}

.hero-text h2 {
    font-size: 55px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.hero-text h2 span {
    font-size: 70px;
    font-weight: 700;
}

.mySwiper {
    position: relative;
    height: 100%;
}


.swiper-pagination.container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 230px;
    text-align: left;
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    opacity: 1;
    background: #fff;
}

.swiper-pagination-bullet-active {
    background: #E5702B;
}

/* productList section  */
.productList-sec {
    height: 100dvh;
    min-height: 600px;
    position: relative;
    background-color: beige;
    /* overflow: hidden; */
}

.pdList-text {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: start;
    color: var(--color-black);
}

/* .pdList-text p {
font-size: 30px;
font-weight: 300;
padding-bottom: 20px;
letter-spacing: -1px;
} */

/* .pdList-text h2 {
    font-size: 55px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 10px;
}

.pdList-text h2 span {
    font-size: 70px;
    font-weight: 700;
} */


/* Swiper2 */

.mySwiper2 {
    width: 100%;
    height: auto;
    color: #e7e7e7;
    position: relative;
    padding-bottom: 50px;
}

.mySwiper2 a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: #fff;
    border-radius: 30px;
    border: 1px solid #D9D9D9;
}

.mySwiper2 a:hover {
    border: 1px solid #E5702B;
}

/* .pd-btn-prev:hover {
    background-image: url("../images/prev-hover.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
} */

.pd-slide-wrap {
    height: 365px;
}

.pd-slide {
    height: 100%;
    width: 344px;
    /* margin-right: 0; */
    text-align: center;
    font-size: 24px;
    color: #333;
    background: #fff;
    border: 1px solid #1b1b1b;
    border-radius: 30px;
    overflow: hidden;
    padding: 30px 24px;
}

.pd-slide .row1 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-slide .row2 {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: chartreuse;
}

.pd-slide .col1 {
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-slide .col2 {
    width: 66%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-slide .col3 {
    width: 17%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.pd-pagination {
    text-align: center;
}

.mySwiper2 .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: #E0E0E0;
}

.mySwiper2 .swiper-pagination-bullet-active {
    background: #E5702B;
}


/* vision section  */
.vision-contents {
    border: 1px solid #e7e7e7;
    border-width: 1px 0;
}

.vision-card {
    padding: 100px 0;
}

.vision-contents .col-6 {
    border-right: 1px solid #e7e7e7;
}

.vision-contents .col-6:first-child {
    border-left: 1px solid #e7e7e7;
}

.vision-card h3 {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-black);
    padding: 30px 0 10px;
}


/* message section  */
.message-sec {
    background-color: var(--color-black);
}

.message-text {
    /* box-sizing: border-box; */
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    max-width: calc(1320px / 2);
    width: 100%;
    margin-left: auto;

}

.message-text h2 {
    color: var(--color-white);
}

.message-image {
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.counter-wrap {
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 50px 0;
}

.counter-wrap .col-md-4 {
    border-right: 1px solid #fffffc2b;
}

.counter-wrap .col-md-4:first-child {
    border-left: 1px solid #fffffc2b;
}

.counter span {
    font-size: 40px;
    font-weight: 900;
    display: inline-block;
    margin: 15px 10px 15px 0;
}

.benefit-card img {
    border-radius: 20px;
}

.benefit-card h3 {
    color: var(--color-black);
    font-size: 20px;
    font-weight: 700;
    padding: 20px 0 10px;
}


/* award section  */
.award-sec {
    background-color: #f5f5f5;
}

.award-list li {
    padding: 28px 0;
    border-bottom: 1px solid #d9d9d9;
    gap: 20px;
}

.award-img {
    width: 100%;
    aspect-ratio: 600/720;
    border-radius: 30px;
    overflow: hidden;
    transform: translateY(50px);
}

.award-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}